.admin-home-table {
    table-layout: fixed;
    height: 40%;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 3%;
    border-collapse: separate;
    border-spacing: 10px;
}

.admin-home-link,
.admin-home-button {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: rgb(111, 184, 187);
    color: white;
    border: none;
    font-size: 1.5em;
    text-decoration: none;
    padding: 20px;
}

.admin-home-link {
    vertical-align: middle;
}

.admin-home-table tr td {
    width: 16.5vh;
    min-height: 10vh;
    vertical-align: middle;
    text-align: center;
}

.admin-home-button:hover,
.admin-home-link:hover {
    text-decoration: none;
    background-color: lightslategray;
    color: white;
    border: none;
}

.email-config-modal form input {
    width: 20em;
}

.email-config-modal button {
    float: right;
    margin-top: 3px;
    margin-left: 2px;
}

.memo-modal {
    text-align: center;
    width: 75vh;
}

.memo-modal h4 {
    padding-top: 9px;
}

.memo-modal textarea {
    width: 100%;
    margin-top: 3px;
}

.add-new-memo-btn {
    float: right;
}

.remove-memos {
    text-align: left;
    border: 1px dashed gray;
    width: 89%;
    padding: 2px;
    display: inline-block;
}

.remove-memos button {
    margin-top: 6px;
    float: right;
}

.add-new-memo-div{
    width: 89%;
    display: inline-block;
}

#select{
    width: 80%;
}

.btn-select-memo{
    width: 8.5%;
}
.security-notice{
    font-size: 11px;
}